.myDiv {
  height: 540px;
}

.myDiv2{
    height: 300px;
}

.myDiv3{
    height: 200px;
}

.myDiv4{
    height: 150px;
}

.myDiv5{
    height: 320px;
}

.block{
    align-self:center;
    border-radius: 95px;
    border: 2px solid #FF96D9;
    padding: 20px;
    width: 430px;
    align-content:center;
    margin: auto;
}

body{
    background-color: #282B32;
    color: white;
}

.center {
    margin: auto;
    width: 50%;
}