<!DOCTYPE html>
<html>
    <head>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  
        <title>Response</title>
        
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Next Listen</a>
        </nav>
        <br>
        <br>
    <form action="/p1" align="center">
    
    
        <h1>Response:</h1>
        <p>{{ response1 }}</p>
        <p>{{ response2 }}</p>
        <p>{{ response3 }}</p>
        <p>{{ response4 }}</p>
        <p>{{ response5 }}</p>
        <p>{{ response6 }}</p>
    </body>
</html>